<html>
  <head>
    <meta charset='UTF=8'>
    <title>Test Application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <style>
    body {background-color: #e7f1ec;}
    .container {width: 50%; margin: 2em auto;}
    .jumbotron {background-color: #fff;}
    </style>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
    <footer>This is the Footer</footer>
  </body>
</html>
